.photo-detail {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 12px;
    text-align: center;
    background-color: #f4f4f4;

    .photo-container {
        position: relative;
        width: 90%;
        height: auto;
        background-color: white;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 20px;
        border-radius: 8px;
        text-align: center;
        overflow: hidden;
    }

    .photo-detail-image {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 8px;
        max-height: 80vh;
    }

    .remove-btn {
        width: 70%;
        margin: 10px auto 15px auto;
        background-color: #f44336;
        color: white;
        border: none;
        padding: 12px 20px;
        font-size: 16px;
        border-radius: 50px;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;
        display: flex;
        align-items: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .remove-btn:hover {
        background-color: #252020;
    }

    .remove-btn mat-icon {
        margin-right: 8px;
    }

    .remove-btn:focus {
        outline: none;
        box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.3);
    }
}
