<div class="photo-grid-wrapper">
  <mat-grid-list cols="3" rowHeight="1:1" gutter="16px">
    <mat-grid-tile *ngFor="let photo of photos; let i = index">

      <mat-card [ngClass]="{'favorite': isFavorite(photo)}">
        <img mat-card-image [src]="photo.url || 'assets/images/placeholder-image.png'" [alt]="photo.title"
          loading="lazy" />
        <mat-card-content>
          <h3>{{ i + 1 }}: {{ photo.title }}</h3>
        </mat-card-content>

        <mat-card-actions>
          <button mat-icon-button [color]="isFavorite(photo) ? 'warn' : 'default'" (click)="toggleFavorite(photo)">
            <mat-icon>
              {{ isFavorite(photo) ? 'favorite' : 'favorite_border' }}
            </mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>

    </mat-grid-tile>
  </mat-grid-list>

  <div #scrollAnchor class="scroll-anchor"></div>
</div>

<app-loading-spinner *ngIf="isLoading" />
<p *ngIf="!photos.length && !isLoading">No photos available. Start scrolling to load more.</p>