@import "./layouts/main.scss";
@import "./theme-variables.scss";

// mat-spinner {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     z-index: 10;
// }

mat-grid-list {
    border: 1px solid red;
}

.spinner-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}
