@import "./layouts/main.scss";
@import "./layouts/responsive.scss";
@import "./normalize.scss";
@import "./theme-variables.scss";

mat-grid-list {
    border: 1px solid black;
}

.spinner-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.scroll-anchor {
    height: 10px;
    width: 100%;
    background: transparent;

    // for debugging
    //  background: rgba(255, 0, 0, 0.5); /* Semi-transparent red for debugging */
}
