nav.header-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(
        to bottom,
        rgba(125, 126, 125, 1) 0%,
        rgba(14, 14, 14, 1) 100%
    );
    padding: 16px 30px;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(224, 204, 204, 0.1);
    gap: 5rem;
}

.header-nav button {
    font-size: 16px;
    font-weight: bold;
    color: #191919;
    padding: 10px 20px;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border: none;
}

.header-nav button:hover {
    color: #f4f4f4;
    background-color: #b15518;
    transform: scale(1.05);
}

.header-nav .active-link {
    background-color: #fd7831;
    color: #191919;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

@media (max-width: 600px) {
    .header-nav {
        padding: 10px 15px;
    }

    .header-nav button {
        font-size: 14px;
        padding: 8px 16px;
    }
}
